li {
    line-height: 0.5;
}

.p1 {
    font-style: italic;
}

.contenido {
    font-weight: bold;
}

.a {
    font-style: italic;
    font-weight: normal;
}

.b {
    font-style: italic;
    font-weight: normal;
}

.c {
    font-style: italic;
    font-weight: normal;
}

.d {
    font-style: italic;
    font-weight: normal;
}

.e {
    font-style: italic;
    font-weight: normal;
}

.f {
    font-style: italic;
    font-weight: normal;
}

.g {
    font-style: italic;
    font-weight: normal;
}

.h {
    font-style: italic;
    font-weight: normal;
}